@import '../index.scss';

.nature-img{
    width: 10%;
    height: auto;
    max-width: 100%;
    margin: 1%;
}
.title-name{
    display: inline;
    color: $base-color;
    margin-left: 1%;
}
.clearfix{
    overflow: auto;
}
